* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: #183602;
  width: 100%;
  height: 100px;
}
.logo1 {
  margin-left: 40px;
  margin-top: 15px;
  height: 60px;
  width: 55px;
  border-radius: 22px;
  position: absolute;
}

.menu {
  float: right;
  list-style: none;
  margin: 10px;
}

.menu li {
  display: inline-block;
  margin: 20px 20px;
}

.menu li a {
  color: rgb(214, 214, 200);
  font-size: 18px;
  padding: 6px;
  font-family: sans-serif;
  text-decoration: none;
}

.menu li a:hover {
  transition: 0.2s;
  color: white;
}

.container {
  width: 100%;
  height: 800px;
}

.left {
  margin: 12px;
  padding: 17px;
  background-color: #f5f5f5;
  width: 55%;
  height: 630px;
  float: left;
}

.right {
  margin: 10px;
  padding: 17px;
  background-color: #cccccc;
  width: 36%;
  height: 630px;
  float: right;
}
.IMG-20190804-WA0001 {
  margin: 5px;
  padding: 5px;
  height: 585px;
  width: 440px;
  float: right;
}
footer {
  background-color: #383504;
  width: 100%;
  height: 200px;
}
footer p {
  text-align: center;
  padding-top: 60px;
  font-size: 20px;
  color: aliceblue;
}
